<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            margin:0 50px 50px 50px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 8px 0;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: #f0f0f0;
        }
        .nav-left, .nav-right {
            display: flex;
            align-items: center;
          }
        .nav-left span {
            font-size: 18px;
        }
        .nav-right i {
            font-size: 20px;
            cursor: pointer; /* Add hover effect (optional) */
        }
    </style>

    <title>Spring Boot</title>
</head>
    <body>
    <!--    navbar-->

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Leave Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Blog</a>
                        </li>


                    </ul>
    <!--                <form class="d-flex">-->
    <!--                    <button class="btn bg-primary my-2 my-sm-0" type="submit">Notification</button>-->
    <!--                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>-->
    <!--                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <i class="fas fa-bell"></i> &lt;!&ndash; Notification icon &ndash;&gt;-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                </form>-->


                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-pill label-danger count" style="border-radius:10px;"></span><span class="glyphicon glyphicon-bell" style="font-size:18px;"></span></a>
                        <ul class="dropdown-menu">
                            <li>Demo</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
<!--                <button class="btn bg-danger my-2 my-sm-0" type="submit">Notification</button>-->
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>

            </div>
        </nav>
    </div>

    <!--    navbar-->


    <!--success message-->
    <!--<div th:if="${httpSession.message}" th:classappend="${httpSession.message}" class="alert alert-success" role="alert">-->

    <!--    <p th:text="${httpSession.message}"></p>-->
    <!--    <th:block th:text="${#httpSession.removeAttribute('message')}"></th:block>-->

    <!--</div>-->

    <!--success message end-->


    <!--form-->

        <div class="container">
            <form th:action="@{/register}" th:object="${user}" method="post">
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="name">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Employee ID</label>
                    <input type="text" class="form-control" id="exampleInputEmployeeId1" name="empId">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                </div>

                <div class="mb-3">
                    <label>Enter Details</label>
                    <textarea name="details" id="exampleInputDetails1" class="form-control" rows="8"></textarea>
                </div>

                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>

    <!--form eld-->




























        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        -->
    </body>
</html>

